[init]
    defaultBranch = main
[pull]
    rebase = false
[fetch]
    prune = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[alias]
    st = status -sb
    co = checkout
    br = branch -vv
    lg = log --oneline --graph --decorate --all
    last = log -1 --stat
[user]
	name = masonliiu
	email = 138553405+masonliiu@users.noreply.github.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
